.shadow-text {
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 120%;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .shadow-text {
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 48%;
    border-radius: 50px;
  }
}

.carosello {
  margin-right: auto;
  margin-left: auto;
}
.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
