.btn-primary {
  --bs-btn-bg: inherit;
  --bs-btn-hover-bg: #009270;
  border-color: transparent;
  --bs-btn-active-bg: #009270;
  --bs-btn-active-border-color: white;
  text-decoration: none;
}

.btn-primary:hover {
  border-color: white;
}

.dropdown-toggle::after {
  display: none;
}
.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;

  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
